body{
    background-color: rgb(250, 224, 197) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
    
}
.nav-logo a img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.nav-links{
    display: flex;
    gap: 10px;
}
 .nav-links a{
    color: navy;
    text-decoration: none;
 } 
 .nav-links a:hover{
    color: rgb(250, 224, 197);
    background-color: blue;

 }
 .content{
    flex: 1;
 }
 footer{
    text-align: center;
    color: navy;
    justify-content: center;
    align-items: center;
 }
 .profile-info{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 25px;
    margin-top: 10px;
 }
 .profile-info img{
    width: 350px;
 }