body{
    background-color:lightblue ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-logo a img{
    width: 110px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
       background-color: navy;
}
.nav-links{
    display: flex;
    gap: 10px;
}
 .nav-links a{
    color: gray;
    text-decoration: none;
 } 
 .nav-links a:hover{
    color: lightblue;
 }
 .content{
    flex: 1;
 }
 footer{
    background-color: navy;
    text-align: center;
    color: lightblue;
    justify-content: center;
    align-items: center;
 }
 .profile-info{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 25px;
    margin-top: 10px;
 }
 .profile-info img{
    width: 350px;
 }